/* Make the entire app take up the full height */
body, html{
  margin: 0;
  background-color: #202124; /* dark grey */
  color: #ffffff;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: sans-serif;
}

.mainContainer {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  flex: 1 1 auto; /* This pushes the footer down */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #202124;
  color: #FFFFFF;
}

.contentContainer {
  width: 48%;
  text-align: left;
  line-height: 1.5rem;
  padding: 0 12px 6px;
  flex: 1 1 auto; /* This pushes the footer down */
  border: 1px solid white;
  border-radius: 16px;
}

.titleStyle {
  font-weight: 650;
  line-height: 1.25;
}

.formContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 16px;
  /* flex */
}

input {
  width: 42%;
  height: 40px;
  border-radius: 20px;
  padding: 0 20px;
}

input::placeholder {
  font-size: 18px; /* Adjust the size as needed */
  color: #999;     /* Optionally, you can change the placeholder color */
  padding: 0;
}

button {
  width: 80px;
  height: 40px;
  border-radius: 12px;
  color: #FFFFFF;
  background-color: darkgreen;
}

.sentenceStyle {
  font-family: Inter-variable, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.footerStyle {
  font-size: 12px;
  padding:20px; 
  text-align:center;
}

@media (max-width: 600px) {
  .contentContainer {
    width: 90%;
    padding: 0 1rem;
    font-size: 1.5rem; 
  }
  .footerStyle {
    font-size: 1rem;
    padding: 0 12px;
    padding-bottom: env(safe-area-inset-bottom);
  }
  .sentenceStyle {
    font-size: 1.5rem;
  }
  h1 {
    width: 100%;
    font-size: 3rem;
  }
  input {
    width: 75%;
    height: 60px;
    padding: 0 10px;
    font-size: 1.5rem;
  }
  label {
    font-size: 2rem;
  }
  button {
    width: 120px;
    height: 60px;
    font-size: 20px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .contentContainer {
    width: 90%;
    padding: 0 1.5rem;
    font-size: 1.5rem;
  }
  .footerStyle {
    font-size: 1.2rem;
    padding: 0 12px;
    padding-bottom: env(safe-area-inset-bottom);
  }
  .sentenceStyle {
    font-size: 1.625rem;
  }
  h1 {
    width: 100%;
    font-size: 3rem;
  }
  input {
    width: 75%;
    height: 60px;
    padding: 0 10px;
    font-size: 1.5rem;
  }
  label {
    font-size: 2.5rem;
  }
  button {
    width: 140px;
    height: 70px;
    font-size: 24px;
  }
}