/* Make the entire app take up the full height */
body,
html {
  margin: 0;
  background-color: #202124;
  /* dark grey */
  color: #ffffff;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: sans-serif;
}

.mainContainer {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  flex: 1 1 auto;
  /* This pushes the footer down */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #202124;
  color: #FFFFFF;
}

.contentContainer {
  width: 48%;
  text-align: left;
  line-height: normal;
  padding: 0 12px 6px;
  flex: 1 1 auto;
  /* This pushes the footer down */
  border: 1px solid white;
  border-radius: 16px;
}

.authorContainer {
    display: flex;
    padding: 0.5rem 0rem;
    grid-template-columns: auto 1fr; /* First column auto-sized for image, second fills remaining space */
    gap: 1rem; /* Space between columns */
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 0rem 1rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

.authorTextContainer {
  padding: 1rem 0rem;
}

.titleStyle {
  text-align: center;
  font-weight: 650;
  line-height: 1.25;
}

.formContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 16px;
  /* flex */
}

input {
  width: 42%;
  height: 40px;
  border-radius: 20px;
  padding: 0 20px;
}

input::placeholder {
  font-size: 18px;
  /* Adjust the size as needed */
  color: #999;
  /* Optionally, you can change the placeholder color */
  padding: 0;
}

button {
  width: 80px;
  height: 40px;
  border-radius: 12px;
  color: #FFFFFF;
  background-color: darkgreen;
}

img { 
  max-width: 100%; 
  height: auto; 
}

figcaption {
  font-size: .875rem;
}

a {
  color: cornflowerblue;
}

.sentenceStyle {
  font-family: Inter-variable, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.footerStyle {
  font-size: 12px;
  padding: 20px;
  text-align: center;
}

.authorImage {
  width: 4rem;
  height: 4rem;
  border-radius: 9999px;
  border-style: none;
}

.authorText {
  size: 1rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

@media (max-width: 600px) {
  .contentContainer {
    width: 90%;
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  .authorContainer {
    display: flex;
    padding: 0.5rem 0rem;
    grid-template-columns: auto 1fr; /* First column auto-sized for image, second fills remaining space */
    gap: 1rem; /* Space between columns */
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 0rem 1rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .footerStyle {
    font-size: 1rem;
    padding: 0 12px;
    padding-bottom: env(safe-area-inset-bottom);
  }

  .sentenceStyle {
    font-size: 1rem;
  }

  .authorText {
    font-size: 0.75rem;
  }

  h1 {
    width: 100%;
    font-size: 1.5rem;
  }

  input {
    width: 75%;
    height: 60px;
    padding: 0 10px;
    font-size: 1.5rem;
  }

  label {
    font-size: 1rem;
  }

  button {
    width: 120px;
    height: 60px;
    font-size: 20px;
  }

  img { 
    max-width: 100%; 
    height: auto; 
  }
}

@media (min-width: 600px) and (max-width: 1280px) {
  .contentContainer {
    width: 90%;
    padding: 0 1.5rem;
    font-size: 1.5rem;
  }

  .authorContainer {
    display: flex;
    padding: 0.5rem 0rem;
    grid-template-columns: auto 1fr; /* First column auto-sized for image, second fills remaining space */
    gap: 1rem; /* Space between columns */
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 0rem 1rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .footerStyle {
    font-size: 1.2rem;
    padding: 0 12px;
    padding-bottom: env(safe-area-inset-bottom);
  }

  .sentenceStyle {
    font-size: 1.5rem;
  }

  .authorText {
    font-size: 1rem;
  }

  h1 {
    width: 100%;
    font-size: 2rem;
  }

  input {
    width: 75%;
    height: 60px;
    padding: 0 10px;
    font-size: 1.5rem;
  }

  img { 
    max-width: 100%; 
    height: auto; 
  }

  label {
    font-size: 1.5rem;
  }

  button {
    width: 140px;
    height: 70px;
    font-size: 24px;
  }
}